<div id="cms"></div>
<script src="https://unpkg.com/vue@3.2.37/dist/vue.global.js"></script>
<link rel="stylesheet" href="{{ .Site.Params.experiments.cms.server }}/static/style.css"/>
<script src="{{ .Site.Params.experiments.cms.server }}/static/cmsfe.umd.js"></script>
<script>
    const serverBaseUrl = '{{ .Site.Params.experiments.cms.server }}';
    const u = new URL(window.location.href);
    const app = Vue.createApp(cmsfe.CommentArea);
    app.provide('articlePath', decodeURI(u.pathname));
    app.provide('serverBaseUrl', serverBaseUrl);
    app.mount('#cms');
</script>
