{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}

    <section id="article-list" class="article-list">
        {{ range $index, $element := $pag.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
        <script>
            const el = document.getElementById('article-list');
            const times = el.getElementsByTagName('time');
            for (let i = 0; i < times.length; i++) {
                const element = times[i];
                if (element.hasAttribute('datetime')) {
                    const publish_datetime=dayjs(element.getAttribute('datetime'));
                    element.innerText += ` (${dayjs().to(element.getAttribute('datetime'))}) `;
                }
            }
        </script>
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}